html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "chillax";
  src: url(./../Chillax_Complete/Fonts/Variable/Chillax-Variable.ttf);
}

header {
  background-image: url(./../Images/mainbanner.webp);
  width: 100vw;
  height: 100vh;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  margin: 0;
  padding: 0;
  transition: all ease 0.5s;
}
.first-text {
  padding: 10px 0;
  background-color: darkgrey;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  transition: all ease 0.5s;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.logo p {
  margin-top: 12px;
  padding: 0 0 0 3px;
  border-left: 2px grey solid;
  color: lightskyblue;
  font-style: italic;
  font-weight: bold;
}
.logo h3 {
  color: white;
  font-family: "chillax";
  font-style: italic;
  font-weight: bold;
}
.human {
  background-image: url(./../Images/humanbanner.webp);
  height: 80vh;
  background-repeat: no-repeat;
  width: 25vw;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 140px;
  right: 150px;
}
ul {
  display: none;
}
ul a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1em;
}
.loginbtn {
  display: none;
}
.demobtn {
  display: none;
}

.trade-hover {
  background-color: white;
  color: black;
  padding: 60px;
  border-radius: 0 0 15px 15px;
  gap: 70px;
  transition: all ease 0.3s;
  display: none !important;
}
.show-trades .trade-hover {
  display: block !important;
  display: flex !important;
  flex-direction: row !important;
}
.trade-hover:hover {
  display: block !important;
}
.human {
  display: none;
}
.hamburger {
  display: flex !important;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  position: fixed;
  top: 67px;
  right: 10px;
  display: block;
  z-index: 2;
  transition: all ease 1s;
  cursor: pointer;
}
.line {
  width: 80%;
  transition: all ease 1s;
  height: 3px;
  border-radius: 30px;
  background-color: white;
}

.links-2 {
  display: block;
  width: 0;
  height: 0;
  background-color: white;
  transition: all ease 0.6s;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.active .links-2 {
  height: 100vh;
  width: 100vw;
}
.active .hamburger .line {
  background-color: black;
}
.active .hamburger {
  border-radius: 50%;
  padding: 8px;
  border: 1px black solid;
}
.cross .line1 {
  scale: 0;
}
.cross .line2 {
  scale: 0;
}
.cross .none {
  display: block;
}
.logo2 {
  display: flex !important;
  gap: 10px;
  flex-direction: row !important;
  padding: 50px 40px !important ;
  font-weight: 700;
  font-style: italic;
}
.buttons .btn{
  margin-bottom: 5vh;
}
.logo2 p {
  margin-top: 7px;
  color: darkcyan;
}
.logo2 h3 {
  font-size: 1.8em;
  color: red;
  font-family: "chillax";
}
ol {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
ol a {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.7;
}
.btn {
  padding: 10px;
  background-color: red !important;
  color: white !important;
  font-weight: bold;
  width: 80vw;
}
.text {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.text h1 {
  color: white;
  font-weight: bold;
  font-family: "chillax";
  font-size: 2rem;
}
.text p{
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.text .btn{
    width: 8rem;
}
.fixed .navbar{
    position: fixed;
}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {
  .demobtn {
    display: block;
    background-color: red;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    margin-left: 8px;
    opacity: 0.9;
  }
  .loginbtn {
    padding: 8px 12px;
    background-color: transparent;
    color: white;
    border: 1.5px white solid;
    border-radius: 15px;
    display: block;
  }

  .buttons {
    display: flex;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .hamburger {
    display: none !important;
  }
  .links-2 {
    display: none;
  }
  .text h1 {
  color: white;
  font-weight: bold;
  font-family: "chillax";
  font-size: 4rem;
}
.text{
    text-align: left;
}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ul {
    display: block;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 15px !important;
  }
  .links {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .human {
    display: block;
  }
  .navbar:hover {
    background-color: white;
  }

  .navbar:hover .logo h3 {
    color: red;
  }
  .navbar:hover ul a {
    color: black;
  }
  .navbar:hover .loginbtn {
    padding: 8px 12px;
    background-color: transparent;
    color: black;
    border: 1.5px black solid;
    border-radius: 15px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
}
